# CASHLY
CASHLY_POSTGRES_USER=user
CASHLY_POSTGRES_PASSWORD=Your_Password_123
CASHLY_POSTGRES_DB=cashly_prod

# OBSIDIAN
COUCHDB_OBSIDIAN_USER=user
COUCHDB_OBSIDIAN_PASSWORD=Your_Password_123

# Environment
ASPNETCORE_ENVIRONMENT=Production
NODE_ENV=production

# Domain
DOMAIN=your-domain.com

# Nextcloud
NEXTCLOUD_DOMAIN=cloud.your-domain.com
NEXTCLOUD_CLI_URL=https://cloud.your-domain.com
NEXTCLOUD_DB_PASSWORD=Your_Password_123

# LAFA Magazzino
LAFA_SUPABASE_URL=your_supabase_url
LAFA_SUPABASE_ANON_KEY=your_supabase_anon_key
LAFA_FRONTEND_ORIGIN=https://lafa.your-domain.com

# SMTP Email Configuration (Gmail SMTP con Password per le app)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=robe.ingenito@gmail.com
SMTP_PASSWORD=la_tua_password_per_le_app_di_16_caratteri
SMTP_FROM_EMAIL=robe.ingenito@gmail.com
SMTP_FROM_NAME=Cashly

# Cloudflare Tunnel
CLOUDFLARE_TUNNEL_TOKEN=token_cloudflare
